Actividad_25/archivo.dtd

<!ELEMENT vivero (especie+)>

<!ELEMENT especie (nombre, precio, variedad, origen, color_fruto+, otros_datos)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT variedad (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT color_fruto (#PCDATA)>
<!ELEMENT otros_datos (maduración, riego)>

<!ELEMENT maduración (#PCDATA)>
<!ELEMENT riego (#PCDATA)>

<!ATTLIST especie siembra CDATA #REQUIRED>
<!ATTLIST precio moneda CDATA #REQUIRED>
